// 320 x * (Small Phones)
@media (min-width: 300px)
  :scope[xs-visible]
    display block
  :scope[sm-visible]
    display none
  :scope[md-visible]
    display none
  :scope[lg-visible]
    display none
  :scope[xl-visible]
    display none
  :scope[xs-hidden]
    display none
  :scope[sm-hidden]
    display none
  :scope[md-hidden]
    display none
  :scope[lg-hidden]
    display none
  :scope[xl-hidden]
    display none

// 640 x * (Phones)
@media (min-width: 600px)
  :scope[xs-visible]
    display block
  :scope[sm-visible]
    display block
  :scope[md-visible]
    display none
  :scope[lg-visible]
    display none
  :scope[xl-visible]
    display none
  :scope[xs-hidden]
    display block
  :scope[sm-hidden]
    display none
  :scope[md-hidden]
    display none
  :scope[lg-hidden]
    display none
  :scope[xl-hidden]
    display none

// 1024 x 768 (XGA)
@media (min-width: 944px)
  :scope[xs-visible]
    display block
  :scope[sm-visible]
    display block
  :scope[md-visible]
    display block
  :scope[lg-visible]
    display none
  :scope[xl-visible]
    display none
  :scope[xs-hidden]
    display block
  :scope[sm-hidden]
    display block
  :scope[md-hidden]
    display none
  :scope[lg-hidden]
    display none
  :scope[xl-hidden]
    display none

// 1280 x 720 (720p)
@media (min-width: 1200px)
  :scope[xs-visible]
    display block
  :scope[sm-visible]
    display block
  :scope[md-visible]
    display block
  :scope[lg-visible]
    display block
  :scope[xl-visible]
    display none
  :scope[xs-hidden]
    display block
  :scope[sm-hidden]
    display block
  :scope[md-hidden]
    display block
  :scope[lg-hidden]
    display none
  :scope[xl-hidden]
    display none

// 1920 x 1080 (1080p)
@media (min-width: 1840px)
  :scope[xs-visible]
    display block
  :scope[sm-visible]
    display block
  :scope[md-visible]
    display block
  :scope[lg-visible]
    display block
  :scope[xl-visible]
    display block
  :scope[xs-hidden]
    display block
  :scope[sm-hidden]
    display block
  :scope[md-hidden]
    display block
  :scope[lg-hidden]
    display block
  :scope[xl-hidden]
    display none
