@require ('../responsive.styl')

// 320 x * (Small Phones)
@media (min-width: 300px)
  for $num in (1..100)
    :scope[xs={'"' + $num + '"'}]
      width: $num + '%'

// 640 x * (Phones)
@media (min-width: 600px)
  for $num in (1..100)
    :scope[xs={'"' + $num + '"'}]
      width: $num + '%'
  for $num in (1..100)
    :scope[sm={'"' + $num + '"'}]
      width: $num + '%'

// 1024 x 768 (XGA)
@media (min-width: 944px)
  for $num in (1..100)
    :scope[xs={'"' + $num + '"'}]
      width: $num + '%'
  for $num in (1..100)
    :scope[sm={'"' + $num + '"'}]
      width: $num + '%'
  for $num in (1..100)
    :scope[md={'"' + $num + '"'}]
      width: $num + '%'

// 1280 x 720 (720p)
@media (min-width: 1200px)
  for $num in (1..100)
    :scope[xs={'"' + $num + '"'}]
      width: $num + '%'
  for $num in (1..100)
    :scope[sm={'"' + $num + '"'}]
      width: $num + '%'
  for $num in (1..100)
    :scope[md={'"' + $num + '"'}]
      width: $num + '%'
  for $num in (1..100)
    :scope[lg={'"' + $num + '"'}]
      width: $num + '%'

// 1920 x 1080 (1080p)
@media (min-width: 1840px)
  for $num in (1..100)
    :scope[xs={'"' + $num + '"'}]
      width: $num + '%'
  for $num in (1..100)
    :scope[sm={'"' + $num + '"'}]
      width: $num + '%'
  for $num in (1..100)
    :scope[md={'"' + $num + '"'}]
      width: $num + '%'
  for $num in (1..100)
    :scope[lg={'"' + $num + '"'}]
      width: $num + '%'

:scope
  position relative
  display block
  float left
  box-sizing border-box
  min-height 1px
  padding-right 0.9375rem
  padding-left 0.9375rem
  width 100%


// Always clear the contents as ww have no control over it.
:scope::after
  display: table;
  clear: both;
  content: "";
