:scope
  display inline-block
  box-sizing border-box
  padding .3em 0.5em
  margin .3rem 0
  color #55595c
  background-color #eceeef
  background-image none
  border 1px solid #ccc
  border-radius .25rem
  font-size 1rem
  line-height 1.5
  min-width 2.4em
  text-align center
