:scope
  ul
    overflow auto
    margin-left 2%
    border 1px solid #ccc
    border-radius .25rem
    list-style none
    padding 0

    li
      padding 0.25em 1em
      cursor pointer

    li:hover
      background-color #ccc

  [level="2"]
    padding-left 1.5em
  [level="3"]
    margin: 2em
  [level="4"]
    margin: 2.5em
  [level="5"]
    margin: 3em
  [level="6"]
    margin: 3.5em
