@require ('../color.styl')

:scope
  display inline-block
  position relative
  vertical-align middle
  cursor pointer

  span
    padding .375rem 1rem
    font-size 1rem
    font-weight 400
    line-height 1.5
    box-sizing border-box
    vertical-align middle
    box-sizing border-box

    svg
      display inline-block
      width 1em
      height 100%

      .check
        visibility hidden
:scope
  span[data-checked="true"]
    .check
      visibility visible

:scope[size="sm"]
  span
    padding .25rem .75rem
    font-size .875rem
    line-height 1.5
    border-radius .2rem

:scope[size="lg"]
  span
    padding .75rem 1.25rem
    font-size 1.25rem
    line-height 1.333333
    border-radius .3rem



:scope[option="primary"]
  svg
    .box
      fill darken($color-primary, 50%)
    .check
      fill $color-primary

:scope[option="secondary"]
  svg
    .box
      fill darken($color-secondary, 50%)
    .check
      fill darken($color-secondary, 50%)

:scope[option="success"]
  svg
    .box
      fill darken($color-success, 50%)
    .check
      fill $color-success

:scope[option="info"]
  svg
    .box
      fill darken($color-info, 50%)
    .check
      fill $color-info

:scope[option="warning"]
  svg
    .box
      fill darken($color-warning, 50%)
    .check
      fill $color-warning

:scope[option="danger"]
  svg
    .box
      fill darken($color-danger, 50%)
    .check
      fill $color-danger




:scope[data-block="true"]
  display block

:scope
  span[data-disabled="true"]
    cursor not-allowed
    opacity .65
    color #000
