/***
 ** If you change me media min-width here you have
 ** to chage it in the rui-util mixin and in the responsive.styl
 ***/

// 320 x * (Phones)
@media (min-width: 300px)
  :scope
    min-width 295px
    max-width 295px

// 640 x * (tables)
@media (min-width: 600px)
  :scope
    max-width 580px

// 1024 x 768 (XGA)
@media (min-width: 944px)
  :scope
    max-width  904px

// 1280 x 720 (720p)
@media (min-width: 1200px)
  :scope
    max-width 1170px

// 1920 x 1080 (1080p)
@media (min-width: 1840px)
  :scope
    max-width 1800px

:scope
  display block
  position relative
  box-sizing border-box
  padding-right 1em
  padding-left 1em
  margin-right auto
  margin-left auto

// Always clear the contents as ww have no control over it.
:scope::after
  display table
  clear both
  content ""

/* Support the rui-nav inside a container */
  :scope .navbar-spacer
    margin-right -1em
    margin-left -1em
